:root {
    --main: #cc0099;
    --orange: #ff6600;
    --dkOrange: #d45500;
    --yellow: #ffcc00;
    --indigo: #5900b3;
    --blue: #1a66ff;
    --navy: #001a4d;
    --ltBlue: #00a0b0;
    --lightText: #e6e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

body {
    font-size: 1.5rem;
    background: var(--main);
    /* color: var(--lightText); */
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
    padding: 45px;
}

/* responsive top half */

.top-half {
    color: var(--lightText);
}

.top-half .h1 {
    margin-bottom: 45px;
}

.h1 {
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.03em;
}

.current-date {
    float: right;
    font-size: 1.7rem;
    border-bottom: 3px dashed var(--yellow);
    padding: 7px;
    margin-right: 1em;
}

.top-half form {
    position: relative;
    display: flex;
    align-items: center;
}

.top-half form input {
    font-size: 2rem;
    height: 37px;
    padding: 5px 5px 10px;
    border-bottom: 3px solid;
}

.top-half form input::placeholder {
    color: var(--navy);
}

.top-half form button {
    background: var(--navy);
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 7px;
    transition: background 0.1s ease-in-out;
}

.top-half form button:hover {
    background: var(--orange);
    border: 2.5px solid var(--indigo);
    box-shadow: 3px 3px 11px var(--indigo);
    color: var(--navy);
}

.top-half form .msg {
    position: absolute;
    bottom: -45px;
    left: 0;
    max-width: 450px;
    min-height: 40px;    
}

ul {
    margin-bottom: 1px;
    border: 1px solid #001a4d;
}

li {
    text-align: center;
    list-style: none;
    margin: 2.2em auto;
    width: 25vw;
    color: var(--lightText);
}

.bottom-half .current-weather {
    border: 6px solid var(--navy);
    background: rgba(230, 230, 230, 0.5);
    height: auto;
    color: var(--navy);
    margin-top: 0;
}

.current-weather p {
    background-color: rgba(255, 102, 0, 0.4);
    font-size: 1.1em;
}

#city-name {
    font-size: 3.5rem;
    padding-left: 0.2em;
    margin-left: 0.3em;
    font-weight: bold;
}

.weather-icon {
    border: 1px solid var(--navy);
    background-color: rgba(0, 26, 77, 0.1);;
    box-shadow: 3px 3px 7px;
    width: 100px;
    height: 100px;
    margin-left: 3.3em;
}

.current-info {
    margin: 1em 2.3em 1em 2.3em;
    padding-left: 0.3em;
    border-left: 4px solid var(--lightText);

}

#uviColor {
    margin: 1em 2.3em 1.5em 2.5em;
    padding-left: 0.3em;  
}

#uv-index {
    font-size: 1.1em;
}

.forecast {
    border: 1px solid #001a4d;
    margin: 1em auto;
    width: max-content;
    display: flex;
    
}

.day {
    box-shadow: var(--navy) 3px 3px 7px;
    margin: 1em 0.5em;
}


@media screen and (max-width: 760px) {
    .h1 {
        text-align: center;
    }
    .top-half form {
        flex-direction: column;
    }

    .top-half form input,
    .top-half form button {
        width: 100%;
    }

    .top-half form button {
        margin: 20px 0 0 0;
    }

    .top-half form .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 11px;
    }
    
    .bottom-half .current-weather {
        border: 5px solid #001a4d;
        
    }
}

@media screen and (max-width: 700px) {
    .h1 {
        font-size: 4rem;
    }
}
